<!-- defining menus-->
<%  var menus = [
        {
            title: 'Vehicles',
            icon: 'fas fa-tractor',
            href: "#",
            children: [
                {
                    title: 'Vehicle Brands',
                    icon: 'fas fa-align-left',
                    href: "/fleet-management/brands"
                },
                {
                    title: 'Vehicles',
                    icon: 'fas fa-tractor',
                    href: "/fleet-management/vehicles"
                },
                {
                    title: 'Add Vehicles',
                    icon: 'fas fa-plus',
                    href: "/fleet-management/vehicles/new"
                }
            ]
        },
        {
            title: 'Supplies',
            icon: 'fas fa-truck-loading',
            href: "#",
            children: [
                {
                    title: 'View',
                    icon: 'fas fa-eye',
                    href: "/fleet-management/supplies"
                },
                {
                    title: 'New Supply',
                    icon: 'fas fa-plus',
                    href: "/fleet-management/supplies/new"
                }
            ]
        },
        {
            title: 'Requests',
            icon: 'fas fa-file-signature',
            href: "/fleet-management/requests",
            children: false
        },
        {
            title: 'Fleet Requests',
            icon: 'fas fa-envelope-open-text',
            href: "#",
            children: [
                {
                    title: 'View',
                    icon: 'fas fa-eye',
                    href: "/fleet-management/supplies/req"
                },
                {
                    title: 'Request',
                    icon: 'fas fa-plus',
                    href: "/fleet-management/supplies/new/req"
                }
            ]
        }
    ]
  if(typeof current_menu == 'undefined')current_menu={parent:'', child: ''};
 %>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="Company Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ABC Company</span>
    </a>


    <div class="sidebar">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar-new">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block">Hello <%= name %></a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <!--li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tractor"></i>
            <p>
              Fleet Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/fleet-management/brands" class="nav-link">
                <i class="nav-icon fas fa-align-left"></i>
                <p>Vehicle Brands</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/fleet-management/vehicles" class="nav-link">
                <i class="nav-icon fas fa-tractor"></i>
                <p>fas fa-tractor</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/fleet-management/supplies" class="nav-link">
                <i class="nav-icon fas fa-truck-loading"></i>
                <p>Supplies</p>
              </a>
            </li>
          </ul>
        </li-->


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <% if(cat_id==2){ %>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Quantity Surveyor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a id="nav_t_1" href="/qs/estimation" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Create Estimation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_t_2" href="/qs/estimationView" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>View Estimation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_t_3" href="/qs/createProject" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Create Project</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    <% } else if(cat_id==3) { %>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Expeditor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <!-- <li class="nav-item">  
                            <a href="/expeditor/sendRequest" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Send Request</p>
                            </a>
                        </li> -->
                                <li class="nav-item">  
                                    <a href="/expeditor/requests" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>View</p>
                                    </a>
                                </li>
                                <li class="nav-item">  
                                    <a href="/expeditor/sendRequest" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Request</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">  
                            <a href="/expeditor/order" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Order</p>
                            </a>
                        </li>
                        <li class="nav-item">  
                            <a href="/expeditor/usedMaterial" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Get Report</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    <script>
                        $(function () {
                            $('a.newSupply').attr('href', '/expeditor/sendRequest');
                            $('form.newSupplyForm').attr('action', '/expeditor/submitRequest');
                        });
                    </script>
                    <% } else if(cat_id==4) { %>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                        <p>
                            On Site Supervisor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/supervisor/create-new-reqP" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Create new request</p>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="/supervisor/consum-repot" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Get Report</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <% } else if(cat_id==6) { %>


                        <% menus.forEach( menu => { %>

                            <li class="nav-item <%= (menu.title===current_menu.parent)?'menu-open':'' %>">
                                <a href="<%= menu.href %>" class="nav-link <%= (menu.title===current_menu.parent)?'active':'' %>">
                                    <i class="nav-icon <%= menu.icon %>"></i>
                                    <p>
                                        <%= menu.title %>
                                        <% if(menu.children){ %>
                                            <i class="right fas fa-angle-left"></i>
                                        <% } %>
                                    </p>
                                </a>
                                <% if(menu.children){ %>
                                    <ul class="nav nav-treeview">
                                        <% menu.children.forEach( child => { %>
                                            <li class="nav-item">
                                                <a href="<%= child.href %>" class="nav-link <%= (menu.title===current_menu.parent&&child.title===current_menu.child)?'active':'' %>">
                                                    <i class="nav-icon <%= child.icon %>"></i>
                                                    <p><%= child.title %></p>
                                                </a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </li>
                        <% }) %>

                    <%  } else  if (cat_id == 5 ) { %>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <p>
                                    Store Keeper
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/store/stock" class="nav-link">
                                        <i class="nav-icon fas fa-industry"></i>
                                        <p>View Stock</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/store/materialrequests" class="nav-link">
                                        <i class="nav-icon fas fa-industry"></i>
                                        <p>Material Requests</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/store/materialorders" class="nav-link">
                                        <i class="nav-icon fas fa-industry"></i>
                                        <p>Material Orders</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    <% } else if (cat_id==1) { %>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Admin
                            <i class="right fas fa-angle-left"></i>
                        </p>
                        </a>
                    </li>

                    <% } %>

                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">
                           <i class="fas fa-sign-out-alt"></i>
                            <p>
                                Log out
                            </p>
                        </a>
                    </li>

          <li class="nav-item">
            <a href="users/faq" class="nav-link">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              <p>
                Help
              </p>
            </a>
          </li>
            </nav>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
    </div>
    <!-- /.sidebar -->

</aside>