<%- include('_header',{title:"Dashboard"}) %>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">Welcome</a>
          </li>
        </ul>
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

    
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-comments"></i>
              <span class="badge badge-danger navbar-badge"> <%= notifications.length %> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <!-- Message Start -->
                <% for (var i=0;i<notifications.length;i++){  %>

                <div class="media p-3">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                    From:  <%= notifications[i].from_designation %>
                    </h3>
                    <p class="text-sm">  <%= notifications[i].message %> </p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>  <%= not_dates[i]  %> </p>
                  </div>
                </div>
                <!-- Message End -->
              <div class="dropdown-divider"></div>

              <% } %>
              </a>
              <div class="dropdown-divider" ></div>

              <form action="/markasread" method="POST" >

                <% if(notifications.length>0){ %>
                  <button  class="btn" type="submit">Mark As Read</button>
                <% } else{ %>
                  <div class="p-2"><p>No Notifications</p></div>
                <% } %>
              </form>
            </div>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.navbar -->
 
          <%- include('_sidebar') %>
      
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-12">
                <!-- <h1>Icons</h1> -->
                <%- include('_card') %>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Tasks</h3>
              </div> <!-- /.card-body -->
              <div class="card-body">
                <div>
                  <a href="/stock">View Stock</a><br>
                  <a href="/materialrequests">Material Requests</a><br>
                  <a href="materialorders">Material Orders</a><br>
                </div>
              </div><!-- /.card-body -->
            </div>
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>All rights reserved</b>
        </div>
        <strong>Copyright &copy; 2021 <a>SE-Group 12</a>.</strong>
      </footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    </body>
    <%- include('_footer') %>