<%- include('_header',{title:"Dashboard"}) %>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">Welcome</a>
          </li>
        </ul>
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Navbar Search -->
          <!--<li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
              <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
              <form class="form-inline">
                <div class="input-group input-group-sm">
                  <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>-->
    

          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.navbar -->
 
          <%- include('_sidebar') %>
      
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content">
            <div class="container-fluid">
                <h2>Project Consumption Report</h2>

                    <h3>Project Name : <%= projectName %></h3>
                <table class="table table-bordered" >
                    <thead style="background-color:#B0B0B0">
                    <tr>
                        <th class="tg-0lax" rowspan="2" style="text-align: center;">Section</th>
                        <th class="tg-0lax" colspan="3" style="text-align: center;">Material Details</th>
                    </tr>
                    <tr>
                        <td class="tg-0lax">Material Name</td>
                        <td class="tg-0lax">Total Quantity</td>
                        <td class="tg-0lax">Unit</td>
                    </tr>
                    </thead>
                    <tbody>


                    <% for (var i = 0; i < report.length; i++) { %>

                        <tr>
                            <td class="tg-0lax" rowspan="<%= report[i][1].length == 0 ? 1 : report[i][1].length +1 %>"> <%= report[i][0] %></td>
                            <td class="tg-0lax"></td>
                            <td class="tg-0lax"></td>
                            <td class="tg-0lax"></td>
                        </tr>
                        <% for (var j = 0; j < report[i][1].length; j++) { %>
                            <tr>
                                <td class="tg-0lax"><%= report[i][1][j].material_name %></td>
                                <td class="tg-0lax"><%= report[i][1][j].sum %></td>
                                <td class="tg-0lax"><%= report[i][1][j].unit %></td>
                            </tr>
                        <% } %>
                    <% } %>

                    </tbody>
                </table>
            </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
    
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>All rights reserved</b>
        </div>
        <strong>Copyright &copy; 2021 <a>SE-Group 12</a>.</strong>
      </footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    </body>

    <%- include('_footer') %>