<%- include('_header',{title:"Dashboard"}) %>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">Welcome</a>
          </li>
        </ul>
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Navbar Search -->
          <!--<li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
              <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
              <form class="form-inline">
                <div class="input-group input-group-sm">
                  <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>-->

          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.navbar -->
      <%- include('_sidebar') %>
    
       <!-- Content Wrapper. Contains page content -->
       <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-12">
                    <div class="card card-success">
                        <div class="card-body">
                            <div class="row">
                                <form action="/expeditor/usedMaterial" method="post" width = 100%>
                            
                            <div class="form-group">
                              <label for="projectSelect">Select a project</label>
                              <select name="projectSelect" class="form-contro" id="projectSelect" required>
                                <option value="" class = "">Select one</option>
                                <% for (var i = 0; i < projects.length; i++) { %>
                                    <option value=<%=projects[i].project_id%>>
                                       <%= projects[i].project_name %>
                                    </option>
                                    <% } %>
                              </select>
                            </div>
        
                            <button type="submit" class="btn btn-primary" onclick="myFunction()" >Generate Report</button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    
                     
                  </div>
                </div>
              </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
    
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>All rights reserved</b>
        </div>
        <strong>Copyright &copy; 2021 <a>SE-Group 12</a>.</strong>
      </footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    </body>
    <script>
      function myFunction() {
          var e = document.getElementById("projectSelect");
          var value = e.options[e.selectedIndex].value;
          var text = e.options[e.selectedIndex].text;
          if(text == "Select one"){
              alert("You want to select a project");
          }else{
              alert("You selected " + text + " ?");
          }            
      }
  </script>
    <%- include('_footer') %>