<!-- header-section start -->
<%- include('../_top', {title:"Fleet Management", current_menu : {parent: 'Vehicles', child: 'Vehicles'} }) %>
<!-- header-section end -->

<div class="card">
    <div class="card-header">
      <h3 class="card-title">Vehicles</h3>
      <a class="btn btn-primary float-right" href="/fleet-management/vehicles/new">Add new vehicle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 40px">#</th>
            <th>Title</th>
            <th>Plate Number</th>
            <th>Brand</th>
            <th>Registrations</th>
            <th>Remarks</th>
            <th style="width: 120px" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 1; %>
          <% result.forEach( row => { %>
            <tr data-id="<%= row.id %>">
              <td><%= count++ %></td>
              <td><%= row.title %></td>
              <td><%= row.plate_number %></td>
              <td><%= row.brand %></td>
              <td><%= row.registrations %></td>
              <td><%= row.remarks %></td>
              <td class="text-center">
                <a href="/fleet-management/vehicles/edit/<%= row.id %>"><i class="fas fa-edit"></i></a>
                <a href="/fleet-management/vehicles/delete/<%= row.id %>"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Plate Number</th>
            <th>Brand</th>
            <th>Registrations</th>
            <th>Remarks</th>
            <th style="width: 120px" class="text-center">Action</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<%- include('../_bottom') %>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>